# Ignora as chaves secretas e configurações locais do Streamlit
.streamlit/secrets.toml

# Ignora o ambiente virtual (caso você tenha criado um no projeto)
venv/
.venv/
env/

# Ignora os arquivos temporários do Python
__pycache__/
*.pyc

# Ignora arquivos baixados do Google Cloud (ex: arquivos JSON de chaves)
*.json
